.login-page {
  //   background-color: rgb(15, 14, 15);
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.687),
      rgba(14, 13, 13, 0.21)
    ),
    url(../../assets/img/h.jpg);
  background-size: cover;
  height: 100vh;
}
// .login-form {
//   //   border: 1px solid #fff;
//   text-align: center;
//   margin: 100px auto;
//   padding: 50px;
//   color: #fff;
//   border-radius: 10px;
// }
.content-container {
  padding: 10%;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
